:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
  }
  .links-row{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: right;
      



  }


.link{}

  li {
    list-style-type: none
  }

  header {
    background-color: #33393f;
  }
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    color: #d2bb25;
   

  
  }

  header a:visited{
    color: rgba(163, 9, 104, 0.551);
  }

  
 
  a:visited {
    color: green;
  }



  .content {
    flex-flow: coloumn wrap;
        justify-content:  left;
      }
      

.card-row {
  justify-content: space-around;
}


 img {
  width: 15%;
  height: auto;


}

   
.myDIV:hover + .hide {
  display: block;
  color: red;
}
  
  
    
  a:hover  {
    text-decoration: none;
}

 .hidey{
  display: none;
 }

 .hidey a{
  color: rgb(29, 103, 221);
 }

 .hovery:hover + .hidey{
  display: block;
  color: black;
  
 }
 .hovery {
  cursor: pointer;
 }
 
 .myDIV:hover + .hide {
  display: block;
  color: red;
}
  
  
    
  a:hover  {
    text-decoration: none;
}

 .hidey2{
  display: none;
 }

 .hidey2 a{
  color: rgb(29, 103, 221);
 }

 .hovery2:hover + .hidey2{
  display: block;
  color: black;
  
 }
 .hovery2 {
  cursor: pointer;
 }
 
 .card-row{
  flex-direction: row;
  justify-content: center;
 }